.header{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.header img{
    width: 70px;
    height: 70px;
    border-radius: .4rem;
}